.projects-section-header{
    font-size: 22px;
    font-family: calibri;
    font-size: 22px;
    margin:10px 0px -10px 20px;
    height: 50px;
}

.fav{
    color: #be760f;
}

.reg{
    color: #C8AC58;
    text-transform: capitalize; 
}

.exe{
    color: #6a854e;
    text-transform: capitalize; 
}

.project-ico-fav{
    width: 200px;
    height: 100px;
    margin-left: 16px; 
    margin-bottom: 16px;
    float: left;
    border: 2px solid #eca53f;
    border-radius: 6px;
    font-family: calibri;
    font-size: 22px;
    color: #fff;
    background: #eca53f;
}

.project-ico{
    width: 200px;
    height: 100px;
    margin-left: 16px; 
    margin-bottom: 16px;
    float: left;
    border: 2px solid #C8AC58;
    border-radius: 6px;
    font-family: calibri;
    font-size: 22px;
    color: #fff;
    background: #C8AC58;
}

.algo-ico{
    width: 380px;
    height: 45px;
    margin-left: 16px; 
    margin-bottom: 5px;
    border: 2px solid #125673;
    border-radius: 6px;
    font-family: calibri;
    font-size: 22px;
    color: #fff;
    background: #125673;
}

