<projects-page-header [header]='"Admin Panel"'></projects-page-header>

<div class=row>

  <div class="col-lg-6">
    <div class="card card-default mb-6">
      <div class="card-header">
        <i class="fa fa-bolt fa-fw"></i> Activities
      </div>
      <!-- /.projects -->
      <div class="card-body">
        <div class="list-group">
          <div href="#" class="list-group-item clearfix d-block" *ngFor="let act of activities">

            <div class="form-group row">
              <label class="col-3 col-form-label">{{act.name}}</label>
              <div class="col-8">
                <input class="form-control" type="text" [(ngModel)]="act.serverPath">
              </div>
              <span class="float-right text-muted small"><em>
                  <button type="button" class="close" aria-label="Close" (click)="removeActivity(act.id)">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </em></span>
            </div>
          </div>
        </div>
      </div>
      <div class="card-footer">
        <div class="form-group row">
          <div class="col-5">
            <input class="form-control" type="text" placeholder="Activity name" [(ngModel)]="newActivitie.name">
          </div>
          <div class="col-5">
            <input class="form-control" type="text" placeholder="Algorithms path" [(ngModel)]="newActivitie.serverPath">
          </div>
          <button type="button" class="btn btn-default btn-block col-2" (click)="addActivity()">+</button>
        </div>
      </div>
    </div>
  </div>
</div>