<div class="card text-white bg-info" style="margin-bottom: 10px">

    <div class="row">
        <div class="col-xl-2">
            <i class="fa fa-cog fa-2x" ></i>
        </div>
        <div class=" col-xl-8 text-left">
            <div class="d-block" title="{{title}}">{{alg.name | slice:0:15}}</div>
            <div style="font-size: x-small; color: black; float: left;">{{activityName}}</div>
        </div>
        <div class=" col-xl-2 text-center">
            <a href="javascript:void(0)" class="float-center card-inverse" (click)="open(content)">
                <span><i class="fa fa-arrow-circle-right" style="margin-top: 12px ; color: yellow;"></i></span>
            </a>
        </div>
    </div>

    <!--Modal-->
    <ng-template #content let-c="close" let-d="dismiss">
        <div class="modal-header bg-info">
            <h4 class="modal-title">
                <i class="fa fa-cog fa-2x"></i>
                <span style="margin-left: 10px; ">{{alg.name}}</span>
            </h4>
            <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <fieldset>
                <div class="form-group row">
                    <label class="col-3 col-form-label">Description:</label>
                    <div class="col-8">
                        <textarea class="form-control" rows="3" value="{{alg.desc}}" readonly></textarea>
                    </div>
                </div>
                <div class="form-group row" *ngIf="alg.activity">
                    <label class="col-3 col-form-label">Project:</label>
                    <div class="col-8">
                        <input class="form-control" type="text" value="{{alg.activity.name}}" readonly>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-3 col-form-label">Created By:</label>
                    <div class="col-8">
                        <input class="form-control" type="text" value="{{alg.createdBy}}" readonly>
                    </div>
                </div>
                <div class="form-group row" *ngIf="alg.resultType">
                    <label class="col-3 col-form-label">Result Type:</label>
                    <div class="col-8">
                        <input class="form-control" type="text" value="{{alg.resultType.name}}" readonly>
                    </div>
                </div>
               
            </fieldset>
        </div>
        <div class="modal-footer ">
            <button type="button" class="btn btn-sm btn-success col-3" style="float: left;">
                <span>Execute&nbsp;&nbsp;<i class="fa fa-arrow-circle-right"></i></span>
            </button>
            <div class="col-6" ></div>
            <button type="button" class="btn btn-secondary " (click)="c('Close click')">Close</button>
        </div>
    </ng-template>
</div>