<div>
    <div style="height: 40px;">
        <div class="float-left">
            <img src="../../../../assets/images/Ic_project_32.svg" style="height: 32px; width: 32px;">
        </div>
        <div class="float-left">
            <div class="d-block" title="{{title}}">{{title | slice:0:10}}</div>
        </div>
    </div>
    <div style="height: 55px;" [style.background]="isFavoriteList ? '#fae1bb' : '#F3E9B5'">
        <div style="font-size: 15px; ;height: 10px; text-align: center" [style.color]="isFavoriteList ? '#EC8800' : '#B6A710'">{{activityName}}</div>
        <div>
            <a href="javascript:void(0)" class="float-left card-inverse" (click)="addToFavorite()" [style.visibility]="isFavoriteVisible ? 'visible' : 'hidden'">
                <span>
                    <!--i [ngClass]="[isFavorite? 'fa fa-star' : 'fa fa-star-o']"></i-->
                    <img src="../../../../assets/images/Ic_star_32.svg" style="height: 32px; width: 32px;margin-left: 3px; margin-top: 10px;" >
                </span>
            </a>
            <a href="javascript:void(0)" class="float-right card-inverse" [routerLink]="['/project', id]">
                <img src="../../../../assets/images/Ic_start_32.svg" style="height: 32px; width: 32px;margin-right: 3px; margin-top: 10px;">
            </a>
        </div>
    </div>
</div>