.algo-header{
    height: 50px;
    width: 103%;
    font-family: calibri;
    font-size: 32px;
    color: #fff;
    background: #125673;
    margin-left: -14px;
    margin-bottom: 25px;
}

label{
    color: #125673;
}

.run-btn{
    float:right;
    background: #125673;
    color: white;
    height: 40px;
    width: 150px;
    margin-top: 20px;
}