<projects-page-header [header]="'Algorithm Execution'"></projects-page-header>
<div style="height: 86vh;">
    <div *ngIf="accessStatus===403">
        <ngb-alert [type]="'warning'">You don't have permission to access this directory. Contact administrator to
            obtain
            permission</ngb-alert>
    </div>
    <div *ngIf="accessStatus===404">
        <ngb-alert [type]="'warning'">Algorithm file doesn't exist. Contact administrator</ngb-alert>
    </div>

    <div class="row" style="background:transparent" *ngIf="accessStatus===200 && algos">
        <div class="col-md-6" *ngFor='let algo of algos; let i = index;'>
            <algo-exe-ico class="col-md-6" [algo]="algo"></algo-exe-ico>
        </div>
    </div>




    <div class="col-xl-12 btn-footer">
        <button type="button" class="btn btn-lg submit-btn" (click)="runAlgorithms()">
            <span><i class="fa fa-arrow-circle-right"></i>&nbsp;&nbsp;Run</span>
        </button>
    </div>
</div>