


.btn-footer{
    height:50px;
    background: #125673;
    border: 2px solid  #125673;
    border-bottom-left-radius:  6px;
    border-bottom-right-radius:  6px;
    margin-left: 10px;
    padding-right: 10px;
}

.submit-btn{
    background: transparent;
    font-family: calibri;
    font-size: 22px;
    color: #fff;
    border-right: 1px solid rgb(160, 156, 156);
    border-radius: 0;
    height:45px;
}

