<projects-page-header [header]="'New Algorithm'"></projects-page-header>

<div class="row">
  <fieldset class="col-6">
    <form (ngSubmit)="uploadAndSaveAlg(mform)" #mform="ngForm">
      <div class="form-group row">
        <label class="col-3 col-form-label">Name:</label>
        <div class="col-8">
          <input class="form-control" type="text" [(ngModel)]="alg.name" required #algname="ngModel" name="algname">
          <div *ngIf="submitted && algname.invalid" style="color:red">
            Algorithm Name is required
          </div>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-3 col-form-label">Description:</label>
        <div class="col-8">
          <textarea class="form-control" rows="3" [(ngModel)]="alg.desc" name="algdesc" placeholder="Write unclassified info only"></textarea>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-3 col-form-label">Project:</label>
        <div class="col-8">
          <select [(ngModel)]="alg.activity" name="algactivity" required  #algactivity="ngModel">
            <option *ngFor="let activity of activities" [ngValue]="activity">
              {{activity.name}}
            </option>
          </select>
          <div *ngIf="submitted && algactivity.invalid" style="color:red">
            Activity is required
          </div>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-3 col-form-label">Created By:</label>
        <div class="col-8">
          <input class="form-control" type="text" [(ngModel)]="alg.createdBy" name="algcreatedBy">
        </div>
      </div>
      <div class="form-group row">
        <label class="col-3 col-form-label">Result Type:</label>
        <div class="col-8">
          <select [(ngModel)]="alg.resultType" name="algresultType" required  #algresultType="ngModel">
            <option *ngFor="let result of resultTypes" [ngValue]="result">
              {{result.name}}
            </option>
          </select>
          <div *ngIf="submitted && algresultType.invalid" style="color:red">
            Result Type is required
          </div>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-3 col-form-label">File Upload:</label>
        <div class="col-8">
          <input type="file" (change)="fileChange($event)" placeholder="Upload file" name="algfile"  accept=".py">
          <div *ngIf="submitted && !algoFile" style="color:red">
            Algorithm file is required
          </div>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-8 col-form-label"></label>
        <div class="col-2">
          <button type="submit" class="btn btn-lg btn-success">
            <span>Upload & Save&nbsp;&nbsp;<i class="fa fa-arrow-circle-up"></i></span>
          </button>
        </div>
      </div>
    </form>
  </fieldset>

  <div class="col-2"></div>
  <div class="col-4">
    <div class="col-xl-12 text-xs-center">
      <div class="alert alert-info">
        <strong> Properties </strong>
      </div>

      <div class="card mb-3">
        <div class="card-header">
          <div class="row">
            <fieldset class="form-group" class="col-xl-6 text-xs-center">
              <label>Name</label>
              <input class="form-control" [(ngModel)]="newParameter.name" required placeholder="Enter name">
            </fieldset>
            <fieldset class="form-group" class="col-xl-6 text-xs-center">
              <label>Type</label>
              <select class="form-control" [(ngModel)]="newParameter.type" required>
                <option *ngFor="let type of propertyTypes" [ngValue]="type">
                  {{type.value}}
                </option>
              </select>
            </fieldset>
            <fieldset class="form-group" class="col-xl-9">
              <a href="javascript:void(0)" class="float-right card-inverse" *ngIf="newParameter.type && newParameter.type.key == 4"
                (click)="openModal(content, newParameter)"> Set Enum</a>
            </fieldset>
            <fieldset class="form-group" class="col-xl-3 ">
              <button type="button" class="btn btn-info form-control" style="float: right;width: 80px; margin-top: 10px"
                (click)='addNewParameter()' [disabled]="!newParameter.name || !newParameter.type">+ Add</button>
            </fieldset>
          </div>
        </div>
        <div class="card-body" style="height:60vh; overflow: auto">
          <div *ngFor='let param of alg.algoParams' class=" list-group-item ">
            {{param.name}}
            <span class="float-right text-muted small">
              <em>{{param.type.value}}</em>
            </span>
            <span style="float: right; margin-right: 50px">
              <a href="javascript:void(0)" *ngIf="param.type && param.type.key == 4" (click)="openModal(content, param)">
                Set Enum</a>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-header bg-default">
      <span style="margin-left: 10px; ">Enum values</span>
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div>
        <ul class="list-group">
          <li class="list-group-item" *ngFor='let enumValue of enumList'> {{enumValue}}</li>
        </ul>
      </div>
      <div class="row" style="margin-top: 10px">
        <div class="col-9">
          <input class="form-control" type="text" placeholder="Enter value" [(ngModel)]="newEnum">
        </div>
        <button type="button" class="btn btn-default btn-block col-2 float-right" style="width: 80px;" (click)="addEnumValue()">+</button>
      </div>
    </div>
    <div class="modal-footer ">
      <button type="button" class="btn btn-sm  btn-info float-left col-3" (click)="addEnumListToProperty()">Save</button>
      <button type="button" class="btn btn-sm btn-secondary float-right col-3" (click)="c('Close click')">Close</button>
    </div>
  </ng-template>

</div>