$topnav-background-color: #125673;
:host {
    .navbar {
        background-color: $topnav-background-color;
        .navbar-brand {
            color: #fff;
            font-size: 22px;
            margin-left: 18px;
        }
        .nav-item > a {
            color: #999;
            &:hover {
                color: #fff;
            }
        }
    }
    .messages {
        width: 320px;
        max-height:800px;
        overflow-y: auto;
        border-radius: 25px;
        border: 2px solid #125673;
    }
    .header-ico{
        width: 32px;
        height: 32px;
        color-adjust: 90;
    }

    .header-btn{
        background: transparent;
        height: 32px;
        width: 200px;
        border: none;
        font-size: 18px;
        color: #fff;
        vertical-align: -webkit-baseline-middle;
        margin-right: 20px;
        text-decoration: none;
        font-family: calibri;
    }

   .message-ico .dropdown-toggle::after  {
        color: white;
        margin-bottom: 10px;
    }

    .vl {
        border-left: 1px solid rgb(160, 156, 156);
        margin-right: 10px;
      }
}
