<div class="card text-white bg-info" style="margin-bottom: 10px">

  <div class="row">
    <div class="col-xl-2">
      <i class="fa fa-cog fa-2x"></i>
    </div>
    <div class=" col-xl-8 text-left">
      <div class="d-block" title="{{title}}">{{title | slice:0:10}}</div>
      <div style="font-size: x-small; color: black; float: left;">{{activityName}}</div>
    </div>
    <div class=" col-xl-2 text-center">
      <a href="javascript:void(0)" class="float-center card-inverse" [routerLink]="['/project', id]">
        <span><i class="fa fa-arrow-circle-right"></i></span>
      </a>
    </div>
  </div>

</div>