<div *ngIf="project">
    <projects-page-header [header]="project.name" *ngIf="project.id"></projects-page-header>
    <projects-page-header [header]="'New project'" *ngIf="!project.id"></projects-page-header>

    <div class="row">
        <div class="col-xl-9">
            <div class="card mb-3">
                <div class="modal-body" style="height:77vh;">
                    <div class="row">
                        <div class="col-xl-8">
                            <fieldset>
                                <div class="form-group row">
                                    <label class="col-3 col-form-label">Name:</label>
                                    <div class="col-8">
                                        <input class="form-control" type="text" [(ngModel)]="project.name" [readonly]="project.id">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-3 col-form-label">Description:</label>
                                    <div class="col-8">
                                        <textarea class="form-control" rows="3" [(ngModel)]="project.desc" [readonly]="project.id"></textarea>
                                    </div>
                                </div>
                                <div class="form-group row" *ngIf="project.activity && project.id">
                                    <label class="col-3 col-form-label">Project:</label>
                                    <div class="col-8">
                                        <input class="form-control" type="text" value="{{project.activity.name}}"
                                            readonly>
                                    </div>
                                </div>
                                <div class="form-group row" *ngIf="!project.id">
                                    <label class="col-3 col-form-label">Project:</label>
                                    <div class="col-8">
                                        <select [(ngModel)]="project.activity" name="projactivity" required
                                            #projactivity="ngModel">
                                            <option *ngFor="let activity of activities" [ngValue]="activity">
                                                {{activity.name}}
                                            </option>
                                        </select>
                                        <div *ngIf="submitted && algactivity.invalid" style="color:red">
                                            Activity is required
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-3 col-form-label">Created by:</label>
                                    <div class="col-8">
                                        <input class="form-control" type="text" [(ngModel)]="project.createdBy"
                                            [readonly]="project.id">
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                        <div class="col-xl-4">
                            <div class="form-group">
                                <label class=" col-form-label">Algorithms:</label>
                                <div class="card mb-4">
                                    <div class="card-body" style="width: 100% ;height:70vh; overflow-y: auto; overflow-x: hidden;">
                                        <div *ngFor='let alg of project.algorithmsList'>
                                            <div  class="algo-ico float-left" >
                                                <algo-ico [alg]="alg" [activityName]="alg.activity ? alg.activity.name : ''"></algo-ico>
                                            </div>
                                            <button *ngIf="!project.id" type="button" class="close float-left attach-btn" aria-label="Close" style="margin-left: 5px; color: #125673;" (click)="removeAlgFromProject(alg)">
                                                    <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card-footer btn-footer">
                    <button type="button" class="btn btn-lg submit-btn" (click)="saveProject(project)" *ngIf="!project.id">
                        <span><i class="fa fa-save"></i>&nbsp;&nbsp;Save</span>
                    </button>
                    <button type="button" class="btn btn-lg submit-btn" [routerLink]="['/algoexe', project.id, 0]" *ngIf="project.id">
                        <span><i class="fa fa-arrow-circle-right"></i>&nbsp;&nbsp;Execute</span>
                    </button>
                </div>
            </div>
        </div>
        <div class="col-xl-3" *ngIf="project.id">
            <div class="card mb-3">
                <div class="projects-section-header" style="color: #125673;">
                    EXECUTION PLANS
                </div>
                <table class="table table-hover ">
                    <thead>
                        <tr>
                            <th>By</th>
                            <th>Started</th>
                            <th>Ended</th>
                            <th>&nbsp;</th>
                            <th>&nbsp;</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor='let projExe of project.projectExecutions'>
                            <td class="execution-row">{{projExe.executedBy}}</td>
                            <td class="execution-row">{{projExe.startDate | date:'dd/MM/yy HH:mm'}}</td>
                            <td class="execution-row">{{projExe.endDate | date:'dd/MM/yy HH:mm'}}</td>
                            <td>
                                <div [hidden]="projExe.executionResult != 2" ngbTooltip="{{projExe.failureReason}}" triggers="hover:blur click:blur focus:blur" [ngStyle]="{ 'left.px': leftPosition, 'top.px': topPosition }">
                                    <img src="../../../assets/images/Ic_execution_failure.svg" class="execution-row-ico">
                                </div>
                                <div [hidden]="projExe.executionResult != 1" ngbTooltip="{{projExe.failureReason}}" triggers="hover:blur click:blur focus:blur" [ngStyle]="{ 'left.px': leftPosition, 'top.px': topPosition }">
                                    <img src="../../../assets/images/Ic_execution_warnning.svg" class="execution-row-ico">
                                </div>
                            </td>
                            <td>
                                <button type="button" class="show-btn" [hidden]="projExe.executionResult == 2" [routerLink]="['/results', projExe.resultPath]">Show &nbsp;
                                    <span><i class="fa fa-arrow-right"></i></span>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-xl-3" *ngIf="!project.id">
            <div class="card mb-3">
                <div class="projects-section-header" style="color: #125673;">
                    AVAILABLE ALGORITHMS
                </div>
                <div style="height:72vh;">
                    <div *ngFor='let alg of algs'>
                        <button type="button" (click)="addAlgToProject(alg)" class="float-left attach-btn" [attr.disabled]="alg.isAttached ? true : null">
                            <span><i class="fa fa-2x fa-arrow-circle-left" ></i></span></button>
                        <div class="algo-ico" style="margin-left: 38px">
                            <algo-ico [alg]="alg" [activityName]="alg.activity ? alg.activity.name : ''"></algo-ico>
                        </div>
                    </div>
                </div>
                <div style="height:50px; margin-top: 2px">
                    <ngb-pagination class="d-flex justify-content-center" [collectionSize]="algsTotalItems" [pageSize]="10"
                        [(page)]="algsCurrentpage" (pageChange)="loadPageAlgs($event)"></ngb-pagination>
                </div>
            </div>
        </div>
    </div>