.exe-ico{
    background: #CBEFA5;
    border: 2px solid #9DC477;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 25px;
    margin-right: 25px;
    height: 50px;
    font-family: calibri;
    font-size: 28px;
    color: #5f7a44;
}

.small-text{
    font-size: 15px;
    margin-top: 15px;
    color: #5f7a44;
}

