<div class="exe-ico row">
  <div class="col-xl-2">
    <img src="../../../../assets/images/execution-icon.png" style="height: 28px; width: 28; margin: 8px;">
  </div>
  <div class=" col-xl-4 text-left">{{exeInfo.algoName}}</div>
  <div class=" col-xl-2 text-left small-text"  >{{timeOver | date: 'HH:mm:ss'}}</div>
  <div class=" col-xl-2 text-left small-text"  >{{exeInfo.projectName | slice:0:8}}</div>
  <div class=" col-xl-2 text-left small-text"  >[{{exeInfo.executedBy | slice:0:8}}]</div>
</div>
